*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: mauline-light;
    src: url(Assets/Font/LEMONMILK-Light.otf);
}
@font-face {
    font-family: mauline-bold;
    src: url(Assets/Font/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: mauline-boldItalic;
    src: url(Assets/Font/LEMONMILK-BoldItalic.otf);
}
body {
    background-image: url(Assets/Media/weather\ bg.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    font-family: mauline-light;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 30em;
    height: 30em;
    color: #fffff0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    text-align: center; 
}
.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
header h1 {
    font-family: mauline-bold;
}
i {
    font-size: 4em;
}
.awan {
    top: 0
}
.cari {
    position: absolute;
    font-size: 30px;
    align-self: end;
    margin: 20px;
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
}
.cari:hover {
    cursor: pointer;
    color: #7eecff;
    scale: .9;
}
main {
    flex: 2;
}
.region {
    font-family: mauline-bold;
}
.date {
    font-size: 14px;
    margin-bottom: 1em;
}
.weather {
    font-size: 4em;
    color: #7F27FF;
}
.city {
    font-family: mauline-boldItalic;
    margin-top: 1em;
    font-size: 40px;
}
.search {
    display: none;
    flex-direction: row;
}
.inp {
    width: 100%;
    background-color: #fffff0;
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    border-bottom: 1px solid #7eecff;
    font-size: 16px;
    font-family: mauline-bold;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.btn {
    font-size: 8px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: ease .3s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
}
.btn:hover {
    cursor: pointer;
    color: #fffff0;
    background-color: #7eecff;
    
}
.muncul {
    display: flex;
}
.hilang {
    display: none;
}